<!-- <div class="full-height-div" style="border: 1px solid red; width: 293px; height: 1026px;">
    <section class="d-flex flex-column align-items-start p-3">
      <section class="d-flex flex-column align-items-start">
        <span class="view-text">View</span>
        <mat-form-field appearance="outline" color="primary" class="setup-form-field">
          <mat-select name="preferredLanguage">
            <mat-option value="en">Month</mat-option>
            <mat-option value="fr">Week</mat-option>
            <mat-option value="ar">Day</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
    </section>
  </div> -->
  <div class="full-height-div">
    <section class="d-flex flex-row align-items-center justify-content-between filter-rectangle">
      <section class="left-side d-flex flex-row align-items-center h-100">
        <div class="filter-icon mr-3">
          <img src="assets/images/filter.svg" alt="Filter icon">
        </div>
        <div class="header-container">
          <h2>Filters</h2>
        </div>
      </section>
    </section>
  </div>
  
  
  