<div class="full-height-div">
    <section class="d-flex flex-row align-items-center justify-content-between home-rectangle">
        <div class="container d-flex justify-content-between align-items-center h-100">
            <section class="left-section d-flex align-items-center">
                <div class="icon-calendar">
                    <img src="assets/images/calendar-symbol.svg" alt="calendar icon">
                </div>
                <p class="text-left">January 2024</p>
            </section>
            <section class="right-section d-flex align-items-center">
                <div class="icon-search">
                    <img src="assets/images/more.svg" alt="search icon">
                </div>
                <div class="icon-more">
                    <img src="assets/images/more.svg" alt="more icon">
                </div>
            </section>
        </div>
    </section>
</div>
