<section class="d-flex flex-row align-items-center justify-content-between p-3 navigation-rectangle">
    <section class="left-side d-flex flex-row align-items-center h-100">
      <div class="navigation-button mr-3">
        <img src="assets/images/Login Button.svg" alt="Current orders">
      </div>
      <div class="logo-container mr-3">
        <img src="assets/images/Logo – 1.svg" alt="logo">
      </div>
      <div class="header-container">
        <h2>SNC Diary</h2>
      </div>
    </section>
    <section class="right-side d-flex align-items-center h-100 mx-3">
      <div class="search-container mr-3" style="width: 200px;">
        <span class="field-label">POS Date :</span>
        <span class="field-value"> 06-Oct-2023</span>
        <br>
        <span class="field-label">Property :</span>
        <span class="field-value"> Taj Resort & Spa</span>
      </div>
      <div class="search-container mr-3" style="width: 200px;">
        <span class="field-welcome">Welcome Sup</span>
        <br>
        <span class="field-loggedIn">Logged In</span>
      </div>
      <div class="user-image-container d-flex flex-row align-items-center mr-3">
        <i class="fas fa-user-tie fa-2x"></i>
      </div>
      <div class="down-arrow-container">
        <img src="assets/images/arrow.svg" alt="down arrow">
      </div>
    </section>
  </section>
  